:root {
	--fr: white;
	--bg: rgb(35, 33, 25);
	--secbg: rgb(58, 56, 50);
	--secbgSel: rgb(76, 73, 60);
	--sec: rgb(215, 95, 9);
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	font-size: 1rem;
	border: none;
	background-color: var(--sec);
	font-size: 3rem;
	border-radius: 0.4vw;
	padding: 0.5vw;
}
button:hover {
	border-radius: 0.2vw;

	padding: 0.51vw;
	filter: grayscale(0.2);
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: var(--fr);
		background: var(--bg);
	}
}

.navText {
	font-size: 3rem;
}
.content {
	z-index: -3;
	position: absolute;
	top: 1%;
	margin: 10vh 0.5vw;
}
.no {
	display: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.pfp {
	border-radius: 2vw;
}
.profile {
	margin: 0.5vw;
	position: fixed;
	right: 0;
	top: 0;
}

.username {
	margin: 0.8vw;
}
.pickImage {
	margin: 7vh 0 0 0 !important;
	border-radius: 1vw;
	position: fixed;
	width: 35%;
	margin: 0 2vw;
}
.pickImage:hover {
	z-index: 2;
	cursor: pointer;
	position: fixed;
	animation: widen 0.5s;
	transform: scale(1.08);
	filter: contrast(1.05);
}
@keyframes widen {
	from {
		transform: scale(1);
		filter: contrast(1);
	}
	to {
		transform: scale(1.08);
		filter: contrast(1.05);
	}
}
.rightImage {
	right: 5%;
}
.leftImage {
	left: 5%;
}
.pics {
	width: 90vw;
}

.bigText {
	font-size: 5rem;
	text-align: center;
}
.bigButton {
	font-size: 7rem;
	text-align: center;
	border: none;
	border-radius: 1vw;
	padding: 1vw;
	margin: auto;
}
.signin {
	display: flex;
	justify-items: center;
}

.logo {
	position: fixed;
	left: 1%;
}
/* .pics > * {
	background-color: white;
} */
.new {
	margin: -2vw 0 0 5vw;
}
.newImgForm {
	font-size: 1.5rem;
	width: 30vw;
}
.newImgForm * {
	margin: 1vw;
}

.newImgForm input {
	width: 30vw;
	font-size: 2rem;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 5%;
}
.footerText {
	position: fixed;
	right: 1% !important;
}
.signoff {
	background-color: var(--sec);
	left: 0%;
	font-size: 1rem;
	padding: 0.5%;
}
.signoff:hover {
	background-color: red;
	border-radius: 0.2vw;
	filter: grayscale(0.2);
}
.imgTitle {
	position: fixed;
	bottom: 0%;
	background-color: var(--secbg);
	border-radius: 0.5vw;
	padding: 0.5vw;
}
.imgTitle0 {
	left: 20%;
}

.imgTitle1 {
	right: 20%;
}
.logo {
	width: 4vw;
	height: 4vw;
}
.smallUser img {
	border-radius: 2vw;
	width: 4vw;
}
.smallUser * {
	display: inline-block;
	margin: 0 1vw;
}
.smallUser {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	z-index: 1;
	background-color: var(--secbg);
	border-radius: 2vw;
	padding: 0.5vw;
	position: fixed;
	top: 20%;
}
.smallUser0 {
	left: 8%;
}
.smallUser1 {
	right: 15%;
}
.userInfo {
	margin: 0 7vw;
	display: flex;
	width: 30%;
}
.imgGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 2%;
}
.userImage {
	width: 90%;
}
.searchbar {
	text-align: center;
	font-size: 1.5rem;
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translate(-50%, 0);
}
.searchedModal {
	text-align: center;
	font-size: 1.5rem;
	position: fixed;
	top: 6%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
	cursor: pointer;
	width: 20%;
}
.searchUsername {
	height: 2.5vw;
	margin: -2vh 0;
	background-color: var(--secbg);
	border-radius: 2vw;
}
.hoverSearchUsername {
	height: 2.5vw;
	margin: -2vh 0;
	background-color: var(--secbgSel);
	border-radius: 2vw;
}
.miniPfp {
	padding: 0;
	margin: 0;
	border-radius: 2vw;
	width: 2.5vw;
	float: left;
}
/* mobile view */
@media only screen and (max-width: 830px) {
	* {
		max-width: 100%;
	}
	.searchbar {
		display: none;
	}
	.username {
		font-size: 2rem;
	}
}
