html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.navText {
	font-size: 3rem;
}
.content {
	z-index: -3;
	position: absolute;
	top: 1%;
	margin: 10vh 0.5vw;
}
.no {
	display: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.pfp {
	border-radius: 2vw;
}
.profile {
	margin: 0.5vw;
	position: fixed;
	right: 0;
	top: 0;
}

.username {
	margin: 0.8vw;
}
.pickImage {
	border-radius: 1vw;
	position: fixed;
	width: 38%;
	margin: 0 2vw;
}
.pickImage:hover {
	cursor: pointer;
	position: fixed;
	animation: widen 0.5s;
	transform: scale(1.05);
}
@keyframes widen {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}
.rightImage {
	right: 5%;
}
.leftImage {
	left: 5%;
}
.pics {
	width: 95vw;
}
button {
	cursor: pointer;
	font-size: 1rem;
}
.bigText {
	font-size: 5rem;
	text-align: center;
}
.bigButton {
	font-size: 7rem;
	text-align: center;
	border: none;
	border-radius: 1vw;
	padding: 1vw;
	margin: auto;
}
.signin {
	display: flex;
	justify-items: center;
}
