:root {
	--fr: #ffffff;
	--bg: rgb(35, 33, 25);
	--secbg: #3a3832;
	--secbgSel: rgb(76, 73, 60);
	--sec: #d75f09;
	--tri: #6e6a5e;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	font-size: 1rem;
	border: none;
	background-color: var(--sec);
	font-size: 3rem;
	border-radius: 0.4vw;
	padding: 0.5vw;
}
button:hover {
	border-radius: 0.2vw;

	padding: 0.51vw;
	filter: grayscale(0.2);
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: var(--fr);
		background: var(--bg);
	}
}
@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
	body {
		color: var(--bg);
		background: var(--fr);
	}
	.smallUser {
		color: var(--fr);
	}
	.postTitle {
		color: var(--fr);
	}
	.searchedModal {
		color: var(--fr);
	}
}

.navText {
	font-size: 3rem;
}
.content {
	z-index: -3;
	position: absolute;
	top: 1%;
	margin: 10vh 0.5vw;
}
.no {
	display: none;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.pfp {
	border-radius: 20vw;
	position: absolute;
	left: 2%;
}
.smallPfp {
	border-radius: 20vw;
}
.profile {
	cursor: pointer;
	margin: 0.5vw;
	position: fixed;
	right: 0;
	top: 0;
}

.username {
	margin: 0 0.4vw 0 0;
}
.bigUsername {
	margin: 0 0.8vw;
}
.pickImage {
	margin: 1vh 0 0 0 !important;
	border-radius: 1vw;
	position: fixed;
	width: 35%;
	max-height: 70%;
	margin: 0 2vw;
}
.pickImage:hover {
	z-index: 2;
	cursor: pointer;
	position: fixed;
	animation: widen 0.5s;
	transform: scale(1.08);
	filter: contrast(1.05);
}
@keyframes widen {
	from {
		transform: scale(1);
		filter: contrast(1);
	}
	to {
		transform: scale(1.08);
		filter: contrast(1.05);
	}
}
.rightImage {
	right: 5%;
}
.leftImage {
	left: 5%;
}
.pics {
	width: 90vw;
}

.bigText {
	font-size: 5rem;
	text-align: center;
}
.bigButton {
	font-size: 7rem;
	text-align: center;
	border: none;
	border-radius: 1vw;
	padding: 1vw;
	margin: auto;
}
.signin {
	display: flex;
	justify-items: center;
}

.logo {
	cursor: pointer;
	position: fixed;
	top: 0.5%;
	left: 0.5%;
}
.new {
	margin: -2vw 0 0 5vw;
	border-radius: 100vw;
	padding: 0 0.8vw;
}
.new:hover {
	margin: -2vw 0 0 5vw;
	border-radius: 100vw;
	padding: 0 0.8vw;
}
.newImgForm {
	font-size: 1.5rem;
	width: 30vw;
}
.newImgForm * {
	margin: 1vw;
}

.newImgForm input {
	width: 30vw;
	font-size: 2rem;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 5%;
}
.footerText {
	position: fixed;
	right: 1% !important;
}
.imgTitle1 {
	left: 5%;
}

.imgTitle2 {
	right: 20%;
}
.logo {
	width: 4vw;
	height: 4vw;
}
.userInfo {
	background-color: var(--secbg);
	border-radius: 1vw;
	margin: 0 7vw;
	display: flex;
	width: 30%;
}
.imgGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 2%;
}
.userImage {
	width: 90%;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/picture-database.appspot.com/o/images%2Fbpfp.jpg?alt=media");
}
.searchbar {
	text-align: center;
	font-size: 1.5rem;
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translate(-50%, 0);
}
.searchedModal {
	text-align: center;
	font-size: 1.5rem;
	position: fixed;
	top: 6%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -1;
	cursor: pointer;
	width: 20%;
}
.searchUsername {
	height: 2.5vw;
	margin: -2vh 0;
	background-color: var(--secbg);
	border-radius: 2vw;
}
.hoverSearchUsername {
	height: 2.5vw;
	margin: -2vh 0;
	background-color: var(--secbgSel);
	border-radius: 2vw;
}
.miniPfp {
	padding: 0;
	margin: 0;
	border-radius: 2vw;
	width: 2.5vw;
	height: 2.5vw;
	float: left;
}
.likeCount {
	float: right;
	font-size: 1.5rem;
	bottom: 0%;
	border-radius: 0.5vw;
	padding: 0.5vw;
	background-color: rgba(58, 56, 50, 0.27);
}
.likeCount1 {
	left: 24%;
}
.likeCount2 {
	left: 80%;
}
.userLikeCount {
	width: 90%;
	min-height: 5vh;
	font-size: 1.5rem;
	bottom: 0%;
	border-radius: 0.5vw;
	padding: 0.5vw;
	background-color: rgba(58, 56, 50, 0.27);
}
.endModal {
	font-size: 5rem;
	padding: 1vw;
	z-index: 99;
	position: fixed;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: var(--sec);
	border-radius: 2rem;
}
.smallUser img {
	border-radius: 2vw;
	width: 1.5vw;
}
.smallUser * {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2vw;
}
.smallUser {
	font-size: 0.7rem;
	opacity: 0.9;
	z-index: 1;
	border-radius: 1vw;
	background-color: var(--tri);
}
.imgTitle {
	position: fixed;
	bottom: 0%;
}
.info {
	position: fixed;
	background-color: var(--secbg);
	border-radius: 0.5vw;
	padding: 0.2vw;
	max-width: 19%;
	min-width: 14%;
}
.info1 {
	right: 65%;
	bottom: 0%;
}
.info2 {
	right: 20%;
	bottom: 0%;
}
.postTitle {
	padding: 0.1vw !important;
	margin: 0 !important;
	background-color: var(--secbg);
	overflow: clip;
	display: block;
	word-break: normal;
}
.postTitle:hover {
	overflow: visible;
}

.newUserInfo {
	position: fixed;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, 0);
	width: 15%;
	padding: 1vw;
	border-radius: 1vw;
	border: 2px var(--sec) solid;
	font-size: 2rem;
}
.notFound {
	text-align: center;
	font-size: 5rem;
}
.newUserInfoNo {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0%;
	width: 15%;
	padding: 1vw;
	border-radius: 1vw;
	opacity: 0%;
	border: 2px var(--sec) solid;
	font-size: 2rem;
	animation: slideDown 2s;
}
@keyframes slideDown {
	from {
		bottom: 50%;
		opacity: 100%;
	}
	to {
		bottom: -25%;
		opacity: 0%;
	}
}
.signInButton {
	position: fixed;
	right: 1%;
	top: 1%;
}
.loading {
	text-align: center;
}
.loadbar {
	background-color: red;
}
.follow {
	float: right;
	padding: 0.5vw;
	height: 60%;
}
.follow * {
	margin: 8vw;
}
.follows {
	width: 500%;
	padding: 2vw;
	font-size: 2rem;
	display: inline-flexbox;
}
.links {
	position: absolute;
	top: 100%;
	right: -45%;
}
.links * {
	margin: 1vw 0;
}
.links * :hover {
	filter: invert(0.2);
}
.signoff {
	background-color: var(--sec);
	font-size: 1rem;
	padding: 5%;
	margin: 0;
}
.signoff:hover {
	padding: 5%;
	margin: 0;
}
.settings {
	font-size: 3rem;
	float: right;
	margin: 2vw;
	padding: 2vw;
	border-radius: 2vw;
	background-color: var(--secbg);
}
.checkbox {
	scale: 3;
	margin: 0 2vw;
}
.sorting {
	text-align: center;
	font-size: 2rem;
}
.sorting * {
	margin: 0 0.5vw;
}
/* mobile view */
@media only screen and (max-width: 830px) {
	* {
		max-width: 100%;
	}
	.searchbar {
		display: none;
	}
	.username {
		font-size: 2rem;
	}
	.logo {
		width: 10vw;
		height: 10vw;
	}
	.username {
		display: none;
	}
	.imgGrid {
		display: inline;
	}
	.userImage {
		width: 100% !important;
		margin: 2% 0;
	}
	.new {
		position: fixed;
		top: 1%;
		left: 50%;
		transform: translate(-100%, 0);

		height: 6%;
		border-radius: 100vw;
		padding: 0 0.4vw;
	}
	.pickImage {
		margin: 2vh 0 0 0 !important;
		border-radius: 1vw;
		position: fixed;
		width: 90%;
		max-height: 70%;
		margin: 0 2vw;
	}
	.leftImage {
		left: 5%;
	}
	.rightImage {
		left: 5%;
		bottom: 5%;
	}
	.info1,
	.info2 {
		display: none;
	}
	.newImgForm {
		width: 95%;
		display: grid;
	}
	#title {
		width: 100%;
	}
	#pic {
		width: 100%;
	}
	#sendImage {
		margin: 10vw 0;
		border-radius: 2vw;
		padding: 2vw;
	}
	.newUserInfo {
		background-color: var(--bg);
		position: fixed;
		left: 5%;
		top: 50%;
		transform: translate(0, -90%);
		width: 90%;
		height: 16%;
		padding: 1vw;
		border-radius: 5vw;
		border: 2px var(--sec) solid;
		font-size: 2rem;
	}
	.newUserInfoNo {
		background-color: var(--bg);
		position: fixed;
		left: 5%;
		top: 50%;
		transform: translate(0, -90%);
		width: 90%;
		height: 16%;
		padding: 1vw;
		border-radius: 5vw;
		border: 2px var(--sec) solid;
		font-size: 2rem;
		animation: slideDown 2s;
	}
	@keyframes slideDown {
		from {
			left: 5%;
			opacity: 100%;
		}
		to {
			left: 100%;
			opacity: 0%;
		}
	}
}

@media only screen and (max-height: 760px) {
	.newUserInfo {
		z-index: 9;
		padding: 0.4vw;
		font-size: 1.5rem;
		height: 10vh;
	}
	.new {
		padding: 1vw;
		border-radius: 2vw;
		font-size: 2.5rem;
	}
}
